* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.env {
	height: 100vh;
	width: 100vw;
	background-color: #2c3e50;
}
.inenv {
	width: 90%;
	height: 95%;

	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex; /* add*/
	color: white;
	background-color: black;
}

.sidebar {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* add*/
}

.about {
	height: 30%;

	position: relative;
}
.about .photo {
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	text-align: center;
	position: relative;
	margin-top: 10px;
}

p {
	text-align: center;
}

.menu {
	height: 65%;
}
.menu ul {
	list-style-type: none;
}
.menu ul li {
	margin-bottom: 20px;
	font-size: 20px;
	padding: 5px;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 100;
	color: white;
	border-bottom: 1px solid #bdc3c7;
}
.menu ul a {
	text-decoration: none;
	color: blue;
}
ul li i {
	margin-right: 10px;
	margin-left: 5px;
	font-size: 25px;
}

.menu ul .active {
	color: rgb(33, 252, 13);
	border-bottom: 1px solid #09e276;
}
.menu ul li:first-child {
	margin-top: 10px;
}
li::before,
li::after {
	content: '';
	display: block;
	z-index: -10;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0%;
	background-color: blueviolt;
}
li::before {
	transition-property: width background-color;
	transition-duration: 1000ms;
}
li::after {
	transition-property: width background-color;
	transition-duration: 800ms;
	transition-delay: 400ms;
}
li:hover::after {
	z-index: -1;
	width: 100%;
	background-color: red;
}

li:hover::before {
	width: 100%;
	background-color: skyblue;
}

.ground {
	flex: 4;
	position: relative;
	/*add*/
	background-color: white;
}
.ground .in {
	height: 98%;
	width: 98%;
	background-color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	overflow-y: scroll;
}
.inbox {
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-auto-rows: 30px;
	justify-content: center;
	padding: 5%;
	grid-gap: 40px;
	position: relative;
}
#particles-js canvas {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.inbox div::before {
	content: '';
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	background-color: black;
	opacity: 0.1;
	z-index: 1;
	transition: opacity 200ms;
}
.one {
	grid-row: 1/9;
}
.two {
	grid-row: 1/8;
}
.three {
	grid-row: 1/6;
}
.four {
	grid-row: 6/11;
}
.five {
	grid-row: 8/13;
}
.six {
	grid-row: 9/14;
}

.in div:hover::before {
	opacity: 0;
}

.inbox div {
	position: relative;
	height: 100%;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}
.inbox .heading {
	text-align: left;
	padding-left: 10px;
	margin-top: 5px;
	color: rgb(246, 250, 12);
}
.inbox .desc {
	text-align: left;
	padding: 10px;
	color: lawngreen;
}
.inbox a {
	text-decoration: none;
	background-color: rgb(2, 142, 223);
	position: relative;
	transition: transform 100ms linear;
	-webkit-transition: transform 100ms linear;
	transform: translateY(0px);
}
a:hover {
	transform: translateY(-1px);
}

.inbox div p {
	color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (min-width: 1100px) {
	h2 {
		background-color: black;
		animation: letterspacing 4s;
	}
	@keyframes letterspacing {
		0% {
			letter-spacing: 0px;
			word-spacing: 0px;
			margin-bottom: -20px;
		}
		50% {
			letter-spacing: 4px;
			word-spacing: 3px;
			margin-bottom: -20px;
		}
		100% {
			letter-spacing: 0px;
			margin-bottom: 0px;
		}
	}
	.bars,
	#check {
		position: absolute;
		visibility: hidden;
	}
	.in::-webkit-scrollbar {
		width: 8px;
	}
	.in::-webkit-scrollbar-thumb {
		background: #c0c0aa; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			transparent,
			#1cefff,
			#c0c0aa
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(transparent, #1cefff, #c0c0aa);

		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		border-radius: 4px;
	}
}

@media (min-width: 700px) and (max-width: 1100px) {
	.inenv {
		display: block;
	}
	.sidebar {
		height: 20%;
		justify-content: space-between;
		flex-direction: row;
		position: relative;
	}
	.about {
		width: 60%;
		height: 100%;
		display: flex;
	}
	.about .photo {
		height: 100%;
		width: 50%;
	}
	.name {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: blu;
	}
	.about h2 {
		font-size: 29px;
	}
	.about p {
		font-size: 19px;
	}

	.sidebar .menu {
		position: absolute;
		width: 100%;
		top: 100%;
		height: 0;
		overflow-y: hidden;
		transition: height 1s;
		z-index: 10;
		background-color: black;
	}
	input {
		position: absolute;
		visibility: hidden;
	}
	.sidebar .bars {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 20px;
		font-size: 40px;
		visibility: visible;
	}
	#check:checked ~ .menu {
		height: 250px;
	}
	.fa-times {
		display: none;
	}
	.ground {
		height: 80%;
	}

	.inbox {
		display: grid;
		grid-template-columns: 200px 200px;
		grid-auto-rows: 30px;
		justify-content: center;
		padding: 5%;
		grid-gap: 40px;
	}
	.one {
		grid-row: 1/9;
	}
	.two {
		grid-row: 1/8;
	}
	.three {
		grid-row: 8/13;
	}
	.four {
		grid-row: 9/14;
	}
	.five {
		grid-row: 13/18;
	}
	.six {
		grid-row: 14/19;
	}
	.in::-webkit-scrollbar {
		width: 8px;
	}
	.in::-webkit-scrollbar-thumb {
		background: #c0c0aa; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			transparent,
			#1cefff,
			#c0c0aa
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(transparent, #1cefff, #c0c0aa);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		border-radius: 4px;
	}
}
/* mobiles */
@media (min-width: 200px) and (max-width: 700px) {
	.inenv {
		display: block;

		width: 96%;
		height: 96%;
	}
	.sidebar {
		height: 15%;
		justify-content: space-between;
		flex-direction: row;
		position: relative;
	}
	.about {
		width: 70%;
		height: 100%;
		display: flex;
	}
	.about .photo {
		height: 100%;
		width: 40%;
	}
	.photo {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.name {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: blu;
	}
	.about h2 {
		font-size: 16px;
	}
	.about p {
		font-size: 12px;
	}
	.sidebar .bars {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 20px;
		font-size: 30px;
	}

	.sidebar .menu {
		position: absolute;
		width: 100%;
		top: 100%;
		height: 0;
		overflow-y: hidden;
		transition: height 1s;
		z-index: 10;
		background-color: black;
	}
	.menu ul li {
		font-size: 15px;
	}
	.menu ul li i {
		font-size: 20px;
	}
	input {
		position: absolte;
		visibility: hidden;
	}
	#check:checked ~ .menu {
		height: 240px;
	}
	.fa-times {
		display: none;
	}
	.ground {
		height: 85%;
	}

	.inbox {
		display: grid;
		grid-template-columns: 200px;
		grid-auto-rows: 30px;
		justify-content: center;
		padding: 5%;
		grid-gap: 40px;
	}

	.one {
		grid-row: 1/9;
	}
	.two {
		grid-row: 9/16;
	}
	.three {
		grid-row: 16/21;
	}
	.four {
		grid-row: 21/26;
	}
	.five {
		grid-row: 26/31;
	}
	.six {
		grid-row: 31/36;
	}
}
